@import "variables.scss";
@import "mixins.scss";

.sub-header {
  background-color: $blue;
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    color: $primary-font-color;
    height: 37px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;

    li {
      position: relative;
      display: flex;
      align-items: center;
      &:after {
        content: "";
        width: 1px;
        height: 17px;
        position: absolute;
        right: -100px;
        background-color: #c4c4c45b;
        @media screen and (max-width: 1150px) {
          right: -65px;
        }
        @include xs-desktop {
          right: -50px;
        }
        @media screen and (max-width: 900px) {
          display: none;
        }
      }

      &:last-child::after {
        display: none;
      }

      p {
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
      }

      img {
        margin-right: 15px;
      }
    }
  }
}
