$blue: #041E50;

$primary-font-color: #FFFFFF;
$secondary-font-color: #222222;
$tertiary-font-color: #A5A5A5;

//Media queries
$largeScreens: 1440px;
$small-desktop: 1280px;
$xs-desktop: 980px;
$tablet: 780px;
$xs-tablet: 705px;
$mobile: 625px;
$sm-mobile: 565px;
$xs-mobile: 390px;