@import "variables.scss";

.vitrine {
  margin-top: 85px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-weight: 100;
    font-size: 25px;
    color: $blue;
    text-transform: uppercase;
  }

  p {
    color: $secondary-font-color;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
  }

  .info {
    height: 25px;
  }

  button {
    cursor: pointer;
    width: 155px;
    height: 45px;
    padding: 16px;
    border: none;
    background: transparent;
    border: solid 1px $blue;
    color: $blue;
    font-size: 13px;
    letter-spacing: 1px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 60px;
    transition: 0.2 ease;

    &:hover {
      background-color: $blue;
      color: #ffffff;
    }
  }
}
