@import "variables.scss";
@import "mixins.scss";

.header-elements {
  display: flex;
  height: 75px;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;

  .logo-img {
    width: 200px;
    @media screen and (max-width: 1020px) {
      width: 170px;
    }
  }

  .login {
    display: flex;
    align-items: center;
    text-transform: uppercase;

    h3 {
      font-size: 12px;
      letter-spacing: 1px;
    }

    p {
      font-size: 10px;
    }

    .login-username {
      cursor: pointer;
      margin-left: 10px;
      color: $blue;

      div {
        display: flex;
        align-items: center;
        h3 {
          margin-right: 10px;
          font-size: 11px;
          margin-bottom: 2px;
          font-weight: bold;
        }
      }
    }
  }

  form {
    position: relative;
    input {
      padding: 0 0 0 22px;
      height: 50px;
      width: 430px;
      border-radius: 6px;
      border: solid 1px #041f5059;
      @media screen and (max-width: 1200px) {
        width: 350px;
      }

      @media screen and (max-width: 1130px) {
        width: 300px;
      }

      @media screen and (max-width: 1020px) {
        width: 280px;
      }

      &::placeholder {
        text-transform: uppercase;
        color: rgb(182, 172, 172);
      }
    }

    button {
      background-color: transparent;
      border: none;
      position: absolute;
      top: 15px;
      right: 20px;
    }
  }

  .contact-number {
    display: flex;
    align-items: center;
    p {
      margin-left: 10px;
      font-weight: bold;
      color: $blue;
      font-size: 12px;
      letter-spacing: 1px;
    }
  }

  .cart-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0 23px 0;
    width: 85px;
    background-color: $blue;
    color: $primary-font-color;
    p {
      margin-top: 12px;
      font-size: 7px;
      letter-spacing: 1px;
      text-transform: uppercase;

      &:last-child {
        text-transform: lowercase;
        font-size: 10px;
        margin-top: 5px;
      }
    }
  }
}
